$bg: #fffbef;
$bg-second: #fbf2df;

$shadow: inset 1.867px 0.717px 7px 0px rgba(255, 247, 116, 0.72), inset -3.536px -3.536px 6px 0px rgba(235, 135, 1, 0.004), inset -6.364px -6.364px 21px 0px rgba(212, 165, 124, 0.63), inset 0px 6px 1px 0px rgba(216, 202, 169, 0.004);
