@import 'config';
@import 'variables';

.contacts {
  .wrapper {
    .customerSupport {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 50px 100px 0px;

        .infoWrapper {
            flex: 0 0 460px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            & > .text {
                padding: 0 50px;
                color: $title-color;
            }

            .buttonWrapper {
              margin-top: 35px;
            }
        }
    }

    .emails {
        background-color: $bg-second;
        padding: 80px 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;

        .mail {
            display: flex;
            flex-wrap: wrap;
            flex: 0 1 40%;

            & > .title {
                display: flex;
                justify-content: flex-start;
                flex: 1 1 100%;

                & > h2 {
                    margin: 0;
                    text-align: left;
                }
            }

            a {
                color: $title-color;
                font-weight: 400;
                margin-left: 10px;
            }
        }
    }
  }

  .decoratesWrapper {
    .gameFirst {
      position: absolute;
      top: -416px;
      left: -511px;
      opacity: 0.4;
      transform: rotate(-62deg) rotateY(180deg);
    }

    .gameSecond {
      position: absolute;
      top: -350px;
      left: 923px;
      opacity: .4;
      transform: rotateY(180deg) rotate(-300deg) scale(0.8);
    }

    .owl {
      position: absolute;
      bottom: 110px;
      left: -70px;
      opacity: .4;
      transform: scale(0.8);
    }
  }
}

