@import 'config';
@import 'variables';

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
  background-image: url('../img/dest/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 350px;
}

a {
    cursor: pointer;
}

img {
  pointer-events: none;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	background-color: #fbf2df;
    z-index: 20;
    
    img {
        width: 50%;
    }
}

.hidePreloader {
	transition: all 0.6s;
	opacity: 0;
	transform: scale(0);
	border-radius: 50%;
}

.mainWrapper {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
}

.mainWrapper__index {
    margin-top: 340px; 
    // margin-top: 380px; without header
}

.headerWrapper {
  position: absolute;
  top: -36px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.border {
    margin: 0;
    padding: 13px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: $shadow;
    max-width: 1200px; 
    background: $bg;
    background-clip: padding-box;
    border-image-source: url("../img/dest/frame.png");
    border-image-slice: 120 100 140 fill;
    border-image-repeat: repeat stretch;    
    border-image-width: 120px 100px 140px;
    border-image-outset: 36px 5px 2px 5px;
    border-radius: 44px;
    position: relative;
}

.siteBorder {
  border-image-source: url("../img/dest/site-frame.png");
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    position: relative;

    h2 {
        margin: 0 15px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: 'Lilitaone';
        color: $title-color;
        font-size: 2em;
        letter-spacing: 2px;
    }
}

.text {
    font-weight: 700;
    font-family: Acme;
    text-align: center;
    line-height: 1.3em;
    letter-spacing: .05em;
    font-size: 21px;
    margin: auto;
}

.playButtonWrapper {
    position: absolute;
    width: 406px;
    height: 162px;
    top: -79px;
    left: 50%;
    margin-left: -203px;
    cursor: pointer;
    
    .buttonBg {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .button {
        position: absolute;
        left: 20px;
        top: 12px;
    }
} 

.decoratesWrapper {
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}