@import 'config';
@import 'variables';

.privacyPolicy {
  .wrapper {
    padding: 0 10px;
    margin: 50px 140px;
    max-height: 845px;
    overflow-y: scroll;
    text-align: justify;
    color: $title-color;

    & > .title {
        padding: 30px;

        & > h2 {
            font-family: Acme;
            font-weight: 700;
            line-height: 1.3em;
            letter-spacing: .05em;
            font-size: 21px;
            text-align: center;
            text-transform: none;
        }
    }

    & > .text {
        text-align: justify;
    }

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin-left: 10px;

        & > .text {
          text-align: justify;
        }
      }
    }

    a {
      color: $title-color;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: $shadow;
      border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #b9e91c; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #87dd16; 
    }

    ol {
      list-style-type: upper-alpha; /* Заглавные буквы */
     }
  }

  .decoratesWrapper {
    .gameFirst {
      position: absolute;
      top: -347px;
      left: -511px;
      opacity: 0.4;
      transform: rotate(-62deg) rotateY(180deg);
    }

    .gameSecond {
      position: absolute; 
      top: -50px;
      left: 1060px;
      opacity: .4;
      transform: rotateY(180deg) rotate(-310deg);
    }

    .owl {
      position: absolute;
      bottom: 340px;
      left: 20px;
      opacity: .4;
    }

    .spinningTop {
      position: absolute;
      top: 10px;
      left: 830px;
    }
  }
}

